*{
    margin: 0;
}

.heroContainer {
  width: 100%;
  height: 100vh;
}
.slide img {
  height: 600px;

}

/* Overlay */
.hero_search {
  display: flex;
  gap: 10px;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 6px;
  align-items: center;
  max-width: 1200px;
  margin: -80px auto 0;
  position: relative;
  z-index: 10;
  width: 100%;
}

.hero_search input,
.hero_search select {
  padding: 12px;
  border: none;
  border-radius: 4px;
  min-width: 140px;
}

.hero_search input::placeholder {
  color: #888;
}

.checkbox-group {
  display: flex;
  gap: 10px;
  color: white;
  font-size: 14px;
}

.checkbox-group input {
  margin-right: 5px;
}

.hero_search button {
  padding: 12px 20px;
  background: #0ab3a3;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.hero_search button:hover {
  background: #099b8d;
}
.title {
  position: absolute;
  font-family: 'Nunito Sans', sans-serif;
  /* background-image: url('') */
  background-clip:text;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
  h1{
    color:white;
  }
}