.home-description{
    display:flex;
    justify-content: space-between;
    width: 80%;
    margin:auto;
    padding-bottom: 20px;
      font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

}
.home-description  h2{
    text-align: center;
    font-size: 2rem;
    padding: 40px 20px;

    
}
.home-description .image{
    width: 100%;
    height: auto;
    img{
        width:500px;
        border-radius: 20px ;
    }
}

.home-description .description .stats{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    p{
        display: flex;
        flex-direction: column;
        background:white;
        padding: 10px 20px;
    }
}

.number{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}