.add-properties-container{
    width: 50%;
    margin: auto;
    overflow-y: auto;
    height:80vh;
    /* height:50%; */
}
.add-properties-form{

    display: flex;
    flex-direction: column;
    gap: 1rem;
}