.update-form {
    display:flex;
    flex-direction:column;
    /* align-items:center */
    width:50%;
    margin:auto;

    label{
        display:block;
        font-size:1.02rem;
        font-family:'Roboto', sans-serif;
        
    }
    input{
        padding:0.5rem;
        margin:0.5rem 0;
        outline:none;
        
    }
}